<div id="logo">
  <h1>Standard POE Items</h1>
</div>
<header>
  <ul id="navigation">
    <li><%= link_to 'Home', root_path%></li>
    <li><%= link_to 'Products', products_path%></li>
    <li><%= link_to 'Search', search_path%></li>
    <li><%= link_to 'About', categories_path%></li>
    <li><%= link_to 'Contact Us', categories_path%></li>
  </ul>
</header>