<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @order.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @order.updated_at %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
