<h1>All Products</h1>

    <% @products.each do |product| %>
        <p>Name: <%= link_to product.name, product %></p>
        <p>Description: <%= product.description %></p>
        <p>Price: <%= number_to_currency(product.price) %></p>
        <p>Quantity: <%= product.stock_quantity %></p>
        <p><%= image_tag product.image %></p>
        <!-- <td><%= link_to 'Show', product %></td> -->
        <!-- <p><%= link_to 'Edit', edit_product_path(product) %></p>-->
        <!-- <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>-->
        <hr />
    <% end %>

<!-- <%= link_to 'New Product', new_product_path %> -->
