<!DOCTYPE html>
<html>
<head>
  <title>Standard POE Items</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="wrap">
    <p class="login"><%= link_to 'Login',new_customer_path%> <%= link_to 'Checkout', orders_path%></p>
    <%= render 'shared/header' %>
    <%= render 'shared/category_nav' %>
    <aside class="right">
      <%= yield %>
    </aside>
    <%= render 'shared/footer' %>
  </section>
    
</body>
</html>
